body {
    background-color:rgb(21, 21, 21);
    background-image: url('Media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}


nav {
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
}

nav a {
    display: inline;
    color: black;
    margin: 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(254, 245, 226);
    border-radius: 25px;
}

nav a:hover {
    background-color: rgb(98, 98, 98);
}



#para1 {
    margin: 5px;
    padding: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 5px;

}

#para2 {
    margin: 5px;
    padding: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 5px;
    
}
#hed2 {
    margin: 5px;
    padding: 5px;
    float: inline-start;
    color: black;
}
p a {
    color: rgb(77, 19, 19);
    text-shadow: #333;
    font-size: 30px;
}

#nappi {
    margin: 10px;
    padding: 10px;
    text-shadow: #333;
    border: #333;
    border-radius: 25px;
    background-color: steelblue;
    max-width: 250px;
    text-align: center;
    opacity: 0.8;
}